<div class="card">
    <div class="card-content">
        <span class="card-title promo-name"><%= promo.name %></span>
        <p><%= promo.desc %></p>
        <p><%= promo.slot %> / <%= promo.slot %></p>
        <p><%= promo.keywords.forEach(function(keyword){
            <div class="chip">
                <%= keyword %>
            </div>
        }); %></p>
    </div>
    <div class="card-action promo-command">
        <a href="#edit-promo-form"><i class="material-icons">mode_edit</i></a>
        <a href="#"><i class="material-icons">delete</i></a>
    </div>
</div>

<!-- Modal Structure -->
<div id="edit-promo-form" class="modal">
    <form class="col s12">

        <div class="modal-content">
            <h4>Edit Promo</h4>

            <div class="row">

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="50% Chicken Joy" id="promo-name" type="text" class="validate">
                        <label for="promo-name">Promo Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Lorem Ipsum" id="promo-desc" type="text" class="validate">
                        <label for="promo-desc">Promo Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="1000" id="promo-slots" type="number" class="validate">
                        <label for="promo-slots">Slots</label>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" name="" value="Submit" class="modal-action modal-close waves-effect waves-green btn-flat">
        </div>
    </form>

</div>
