<!DOCTYPE html>
<html>

<head>
    <title>Twitter Creds</title>
</head>

<body>
    <script>
        window.postMessage({
            oauth_token: "<%= data.oauth_token %>",
            oauth_verifier: "<%= data.oauth_verifier %>",
            oauth_token_secret: "<%= data.oauth_token_secret %>",
            screen_name: "<%= data.screen_name %>",
            user_id: "<%= data.user_id %>"
        }, '*');
    </script>
</body>

</html>
